<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Registro Condomino</span>
    <span class="example-spacer"></span>
    <!--<button mat-icon-button routerLink="/citas/create" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>post_add</mat-icon>
    </button>-->
    <button mat-icon-button routerLink="/condomino" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>post_add</mat-icon>
    </button>
    <button mat-icon-button routerLink="/condomino/list" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>list</mat-icon>
    </button>
</mat-toolbar>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>